<app-main-layout>
  <section class="principal">
    <div class="card-container container-fluid col-10 mt-4 mb-4">
      <ng-container *ngFor="let group of searchResultGroup">
        <div class="row">
            <app-card class="col" *ngFor="let show of group" [poster_path]="getPoster(show.poster_path)" [title]="show.name || show.title"
            [lancamento]="formatDate(show.release_date) || formatDate(show.first_air_date)" [vote_average]="show.vote_average"></app-card>
        </div>
      </ng-container>
    </div>
  </section>
</app-main-layout>
