<app-main-layout>
  <section class="container-fluid">
      <div class="btn-anterior-div">
        <button class="btn btn-primary-outline border" (click)="anterior()"><</button>
      </div>
      <div class="btn-proximo-div">
        <button class="btn btn-primary-outline border" (click)="proximo()">></button>
      </div>
    <div class="card-container">
      <div class="row">
          <app-card class="col" *ngFor="let card of filmes" [poster_path]="card.imagem" [title]="card.titulo" [vote_average]="card.nota"></app-card>
      </div>
    </div>
      </section>
</app-main-layout>
