.container-fluid {
  background-color: black;

  height: 100vh;

  .home-container {
    width: 45%;
    height: 50%;
    margin-top: 50px;

    display: flex;

    .text {
      align-self: flex-end;
    }
  }

  .show-div {
    h4 {
      height: 30px;
      color: grey;
    }
  }

}
