.bg-img {
  height: 40vh;
  background-color: black;
  background-image: url("../../../assets/avif/respingo-colorido-abstrato-3d-background-generativo-ai-background_60438-2509.avif");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  input {
    text-align: center;
  }
}

.container-fluid {
  background-color: black;
  height: 100vh;
  display: flex;

  .text {
    align-self: flex-end;
  }

  .show-div {
    h4 {
      height: 30px;
      color: grey;
    }
  }

}
