<app-main-layout>
  <section class="container-fluid d-flex">
    <div class="container show-div">
      <div class="">
        <div class="mt-5">
          <h4>Tendências - Filmes</h4>
        </div>
        <div class="row">
            <app-card class="col" *ngFor="let movie of movies" [poster_path]="getPoster(movie.poster_path)" [title]="movie.title" [lancamento]="formatDate(movie.release_date)"></app-card>
        </div>
      </div>
      <div class="">
        <div class="mt-5">
          <h4>Tendências - Series</h4>
        </div>
        <div class="row">
            <app-card class="col" *ngFor="let serie of series" [poster_path]="getPoster(serie.poster_path)" [title]="serie.name" [lancamento]="formatDate(serie.first_air_date)"></app-card>
        </div>
      </div>
    </div>
  </section>
</app-main-layout>
