.container-fluid {
  display: grid;

  .btn-anterior-div {
    grid-column: 6;
    align-self: self-end;
    margin-bottom: 10rem;

    .border {
      font-weight: bold;
      color: white;
    }
  }

  .btn-proximo-div {
    grid-column: 10;
    align-self: self-end;
    margin-bottom: 10rem;

    .border {
      font-weight: bold;
      color: white;
    }
  }


  .card-container {
    display: flex;
    grid-column: 15;
    align-self: flex-end;
  }
}
