.footer {
  display: flex;
  justify-content: center;
  background-color: #3e3838;
  gap: 70px;
  padding: 7px;
}

hr {
  width: 100px;
  margin: 3px;
}

.title,
.contact {
  color: grey;
}

p {
  padding: 2px;
  color: white;
  font-size: 12px;
}

.information {
  display: flex;
  justify-content: center;
  align-items: center;
}
