<section class="container-fluid h-100 header">
  <div class="header-div row">
    <div class="btn-header-div col-1">
      <button class="btn btn-primary btn-home" (click)="navigate('home')">WebFlix</button>
    </div>
    <div class="search-header-div col-6">
      <div class="input-group col-10">
        <input type="text" class="form-control" placeholder="Pequise na WebFlix">
        <img src="../../../assets/svg/search-lupa.svg" alt="" class="search-header-div-glass">
      </div>
    </div>
    <div class="menu-header-div col-3">
      <button class="col-5 btn btn-primary btn-menu">Login</button>
      <button class="col-5 btn btn-primary btn-menu">Sign Up</button>
    </div>
  </div>
  <div class="nav-div row">
    <nav class="navigate col-8">
      <button class="col-1">Filmes</button>
      <button class="col-1">Series</button>
      <button class="col-2">Meus Pedidos</button>
      <button class="col-2">Top 50 Filmes</button>
      <button class="col-2">Top 50 Series</button>
    </nav>
  </div>
</section>
