<section class="header">
  <div class="header-div">
    <button class="btn-home" (click)="navigate('')">
      <img
        src="../../../assets/svg/logo.svg"
        alt="logo"
        class="header-logo-img"
      />
      <div class="header-title">WebFlix</div>
    </button>
    <div class="header-search">
      <input
        type="text"
        class="search-field"
        placeholder="Pesquise na WebFlix"
      />
      <img
        src="../../../assets/svg/search-lupa.svg"
        alt="Lupa"
        class="search-lupa"
      />
    </div>
    <div class="login-menu">
      <button class="btn-login btn-default">Login</button>
      <button class="btn-signUp btn-default">Sign Up</button>
    </div>
  </div>
  <nav class="nav-bar">
    <button class="btn-filmes btn-nav">Filmes</button>
    <hr />
    <button class="btn-series btn-nav">Series</button>
    <hr />
    <button class="btn-favoritos btn-nav">Favoritos</button>
    <hr />
    <button class="btn-pedidos btn-nav" (click)="navigate('requests')">
      Solicitar Show
    </button>
    <hr />
    <button class="btn-pedidos btn-nav">
      Meus Pedidos
    </button>
    <hr />
    <button class="btn-top-50 btn-nav">Top 50 Filmes</button>
    <hr />
    <button class="btn-top-50 btn-nav">Top 50 Series</button>
    <hr />
  </nav>
</section>
