<section class="header">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a class="nav-link px-2 text-secondary" (click)="navigate('home')">WebFlix</a></li>
        <li><a class="nav-link px-2 text-white" (click)="navigate('movies')">Filmes</a></li>
        <li><a class="nav-link px-2 text-white" (click)="navigate('tv-series')">Series</a></li>
        <li><a class="nav-link px-2 text-white" (click)="navigate('top-movies')">Top Filmes</a></li>
        <li><a class="nav-link px-2 text-white" (click)="navigate('top-tv-series')">Top Series</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" [formGroup]="searchForm">
        <input type="search" class="form-control form-control-dark" formControlName="queryField" placeholder="Search..." aria-label="Search">
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2" (click)="navigate('login')">Login</button>
        <button type="button" class="btn btn-warning" (click)="navigate('signup')">Sign-up</button>
      </div>
    </div>
  </div>
</section>
